@import "tailwindcss";

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.6;
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.custom-toast {
  max-width: 80vw;
  margin-top: 20px;
}
